# Python
__pycache__/

# venv
/.venv/

# python-dotenv
/.env

# Playwright
/test-results/

# npm
/node_modules/

# GOV.UK Frontend
/schemes/views/static/govuk-frontend/

# GOV.UK One Login Service header
/schemes/views/static/govuk-one-login-service-header/

# Terraform
.terraform/
/cloud/tf-backend/terraform.tfstate*

# PyCharm
/.idea/
