# Python
__pycache__/

# python-dotenv
/.env

# Playwright
/test-results/

# npm
/node_modules/

# User guide
/docs/user-guide/index.pdf

# Web assets
/schemes/views/static/

# Terraform
.terraform/
/cloud/tf-backend/terraform.tfstate*

# PyCharm
/.idea/
