# Python
__pycache__/

# venv
/.venv/

# python-dotenv
/.env

# Flask-Session
/.flask_session/

# Playwright
/test-results/

# npm
/node_modules/

# GOV.UK Frontend
/schemes/static/govuk-frontend/

# GOV.UK One Login Service header
/schemes/static/govuk-one-login-service-header/

# Terraform
.terraform/
/cloud/tf-backend/terraform.tfstate*

# PyCharm
/.idea/
