{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}

{% set rows = [] %}
{% for milestone in milestones.milestones %}
    {% do rows.append([
        {
            "text": milestone.milestone.name
        },
        {
            "text": milestone.planned | date if milestone.planned
        },
        {
            "text": milestone.actual | date if milestone.actual
        }
    ]) %}
{% endfor %}
<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Milestones</h2>
        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
                <a class="govuk-link" href={{ url_for("schemes.milestones_form", reference=reference) }}>
                    Change
                    <span class="govuk-visually-hidden">Milestone dates</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="govuk-summary-card__content">
        {{ govukTable({
            "classes": "govuk-!-margin-bottom-0",
            "firstCellIsHeader": true,
            "head": [
                {
                    "text": "Milestone"
                },
                {
                    "text": "Planned date"
                },
                {
                    "text": "Actual date"
                }
            ],
            "rows": rows
        }) }}
    </div>
</div>
