{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}

{% set rows = [] %}
{% for milestone in milestones.milestones %}
    {% do rows.append([
        {
            "text": milestone.milestone.name
        },
        {
            "text": "{:%-d %b %Y}".format(milestone.planned) if milestone.planned
        },
        {
            "text": "{:%-d %b %Y}".format(milestone.actual) if milestone.actual
        }
    ]) %}
{% endfor %}
<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Milestones</h2>
    </div>
    <div class="govuk-summary-card__content">
        {{ govukTable({
            "classes": "govuk-!-margin-bottom-0",
            "firstCellIsHeader": true,
            "head": [
                {
                    "text": "Milestone"
                },
                {
                    "text": "Planned date"
                },
                {
                    "text": "Actual date"
                }
            ],
            "rows": rows
        }) }}
    </div>
</div>
