{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/checkboxes/macro.html" import govukCheckboxes %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}

<section>
    <h2 class="govuk-heading-m">
        Is this scheme up-to-date?
    </h2>

    <p class="govuk-body">
        {% if review.last_reviewed %}
            It was last reviewed on {{ review.last_reviewed | date }}.
        {% else %}
            It has not been reviewed.
        {% endif %}
    </p>

    <form method="post" action="{{ url_for('schemes.review', reference=reference) }}" aria-label="Review scheme">
        {{ review.form.csrf_token }}

        {{ review.form.up_to_date(params={
            "items": [
                {
                    "value": "confirmed",
                    "text": "I confirm that the details in this scheme have been reviewed and are all up-to-date"
                }
            ]
        }) }}

        {{ govukButton({
            "text": "Confirm"
        }) }}

        {% set html -%}
            Only spend to date and milestone dates can be updated by this service.
            If any other details are incorrect then
            <a class="govuk-link" href="mailto:update-your-capital-schemes@activetravelengland.gov.uk">let us know</a>
            before confirming that this scheme is up-to-date.
        {%- endset %}
        {{ govukDetails({
            "summaryText": "Why can I not change some scheme details?",
            "html": html
        }) }}
    </form>
</section>
