{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/checkboxes/macro.html" import govukCheckboxes %}

<form method="post" action="{{ url_for('schemes.review', scheme_id=id) }}" aria-label="Review scheme">
    {{ review.form.csrf_token }}

    {{ govukCheckboxes({
        "name": "review",
        "fieldset": {
            "legend": {
                "text": "Is this scheme up-to-date?",
                "classes": "govuk-fieldset__legend--m"
            }
        },
        "items": [
            {
                "value": "confirmed",
                "text": "I confirm that the details in this scheme have been reviewed and are all up-to-date"
            }
        ]
    }) }}

    {{ govukButton({
        "text": "Confirm"
    }) }}
</form>
