{% extends "service_base.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}
{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}
{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}
{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}

{% block pageTitle %}{% if review.form.errors %}Error: {% endif %}{{ super() }}{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        "href": url_for("schemes.index")
    }) }}
{% endblock %}

{% block content %}
    {% if review.form.errors %}
        {{ govukErrorSummary(wtforms_errors(review.form)) }}
    {% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {{ govukNotificationBanner(params={
                "text": messages | first
            }) }}
        {% endif %}
    {% endwith %}

    <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ authority_name }}</span>
        <span>{{ name }}</span>
    </h1>

    {% if needs_review %}
        {% set html %}
            <p>
                {{ govukTag({
                    "classes": "govuk-tag--red",
                    "text": "Needs review"
                }) }}
            </p>
            <p>
                Check the details before confirming that this scheme is up-to-date.
            </p>
        {% endset %}

        {{ govukInsetText({
            "html": html
        }) }}
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include "scheme/_overview.html" %}
            {% include "scheme/_funding.html" %}
            {% include "scheme/_milestones.html" %}
            {% include "scheme/_outputs.html" %}
            {% include "scheme/_review.html" %}
        </div>
    </div>
{% endblock %}
