{% extends "service_base.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/date-input/macro.html" import govukDateInput %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}
{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}

{% block pageTitle %}{% if form.errors %}Error: {% endif %}{{ super() }}{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        "href": url_for("schemes.get", scheme_id=id)
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if form.errors %}
                {{ govukErrorSummary(wtforms_errors(form)) }}
            {% endif %}

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {{ govukNotificationBanner(params={
                        "text": messages | first
                    }) }}
                {% endif %}
            {% endwith %}

            <h1 class="govuk-heading-l">Change milestone dates</h1>

            <form method="post" action="{{ url_for('schemes.milestones', scheme_id=id) }}" aria-label="Change milestone dates">
                {{ form.csrf_token }}

                {{ milestone("Feasibility design completed", form.feasibility_design_completed_planned, form.feasibility_design_completed_actual) }}
                {{ milestone("Preliminary design completed", form.preliminary_design_completed_planned, form.preliminary_design_completed_actual) }}
                {{ milestone("Detailed design completed", form.detailed_design_completed_planned, form.detailed_design_completed_actual) }}
                {{ milestone("Construction started", form.construction_started_planned, form.construction_started_actual) }}
                {{ milestone("Construction completed", form.construction_completed_planned, form.construction_completed_actual) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        "text": "Confirm"
                    }) }}

                    <a class="govuk-link" href={{ url_for("schemes.get", scheme_id=id) }}>Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% macro milestone(name, planned_field, actual_field) -%}
    <h2 class="govuk-heading-m">{{ name }}</h2>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            {{ planned_field(params={
                "fieldset": {
                    "legend": {
                        "text": "Planned date"
                    }
                }
            }) }}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ actual_field(params={
                "fieldset": {
                    "legend": {
                        "text": "Actual date"
                    }
                }
            }) }}
        </div>
    </div>
{%- endmacro %}
