{% extends "service_base.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/date-input/macro.html" import govukDateInput %}
{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}
{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}

{% block pageTitle -%}
    {% if form.errors %}Error: {% endif %}Change milestone dates - {{ super() }}
{%- endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        "href": url_for("schemes.get", scheme_id=id)
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if form.errors %}
                {{ govukErrorSummary(wtforms_errors(form)) }}
            {% endif %}

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {{ govukNotificationBanner({
                        "text": messages | first
                    }) }}
                {% endif %}
            {% endwith %}

            <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
                <span class="govuk-caption-l">{{ name }}</span>
                <span>Change milestone dates</span>
            </h1>
            <p class="govuk-body">
                When is each milestone planned to be completed, and when was it actually completed?
            </p>
            <div id="date-hint" class="govuk-hint govuk-!-margin-bottom-6">
                For example, 27 3 2007
            </div>

            <form method="post" action="{{ url_for('schemes.milestones', scheme_id=id) }}" aria-label="Change milestone dates">
                {{ form.csrf_token }}

                {% for field in form if not field == form.csrf_token %}
                    <h2 class="govuk-heading-m">{{ field.label.text }}</h2>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            {% set legendHtml %}
                                <span class="govuk-visually-hidden">{{ field.label.text }}</span> Planned date
                            {% endset %}
                            {{ field.planned(params={
                                "fieldset": {
                                    "describedBy": "date-hint",
                                    "legend": {
                                        "html": legendHtml
                                    }
                                }
                            }) }}
                        </div>
                        <div class="govuk-grid-column-one-half">
                            {% set legendHtml %}
                                <span class="govuk-visually-hidden">{{ field.label.text }}</span> Actual date
                            {% endset %}
                            {{ field.actual(params={
                                "fieldset": {
                                    "describedBy": "date-hint",
                                    "legend": {
                                        "html": legendHtml
                                    }
                                }
                            }) }}
                        </div>
                    </div>
                {% endfor %}

                <div class="govuk-button-group">
                    {{ govukButton({
                        "text": "Confirm"
                    }) }}

                    <a class="govuk-link" href={{ url_for("schemes.get", scheme_id=id) }}>Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
