{% extends "service_base.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}
{% from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}
{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}

{% block pageTitle -%}
    {% if form.errors %}Error: {% endif %}How much has been spent to date? - {{ super() }}
{%- endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        "href": url_for("schemes.get", reference=reference)
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if form.errors %}
                {{ govukErrorSummary(wtforms_errors(form)) }}
            {% endif %}

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {{ govukNotificationBanner({
                        "text": messages | first
                    }) }}
                {% endif %}
            {% endwith %}

            <form method="post" action="{{ url_for('schemes.spend_to_date', reference=reference) }}" novalidate aria-label="How much has been spent to date?">
                {{ form.csrf_token }}

                {% set labelHtml %}
                    <span class="govuk-caption-l">{{ name }}</span>
                    <span>How much has been spent to date?</span>
                {% endset %}
                {% set hint %}
                    This scheme has {% if funding_allocation -%}
                        {{ funding_allocation | pounds }} of
                    {%- else -%}
                        no
                    {%- endif %} funding allocation
                {% endset %}
                {{ form.amount(params={
                    "label": {
                        "classes": "govuk-label--l",
                        "html": labelHtml,
                        "isPageHeading": true
                    },
                    "hint": {
                        "text": hint
                    },
                    "prefix": {
                        "text": "£"
                    },
                    "classes": "govuk-input--width-10",
                    "inputmode": "numeric",
                    "spellcheck": false
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        "text": "Confirm"
                    }) }}

                    <a class="govuk-link" href="{{ url_for('schemes.get', reference=reference) }}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
