{% extends "base.html" %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Forbidden</h1>
            <p class="govuk-body">
                If you have been invited to use this service,
                <a href="mailto:ATEUYCSSupport@activetravelengland.gov.uk" class="govuk-link">contact Active Travel England</a>
                to speak to someone about gaining access.
            </p>
        </div>
    </div>
{% endblock %}
