{% extends "govuk_frontend_jinja/template.html" %}
{% from "govuk_frontend_jinja/components/phase-banner/macro.html" import govukPhaseBanner -%}
{% from "ate_footer/macro.html" import ateFooter -%}
{% from "ate_header/macro.html" import ateHeader -%}

{% block pageTitle -%}
    Update your capital schemes - Active Travel England - GOV.UK
{%- endblock %}

{% block headIcons %}
    <link rel="icon" sizes="48x48" href="{{ url_for('static', filename='ate-icons/images/favicon.ico') }}">
    <link rel="icon" sizes="any" href="{{ url_for('static', filename='ate-icons/images/favicon.svg') }}" type="image/svg+xml">
    <link rel="mask-icon" href="{{ url_for('static', filename='ate-icons/images/ate-icon-mask.svg') }}" color="{{ themeColor }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='ate-icons/images/ate-icon-180.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='ate-icons/manifest.json') }}">
{% endblock %}

{% block head %}
    <link href="{{ url_for('static', filename='govuk-frontend/govuk-frontend.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='application.min.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    {{ ateHeader({
        "homepageUrl": "https://www.activetravelengland.gov.uk",
        "rebrand": govukRebrand
    }) }}
{% endblock %}

{% block beforeContent %}
    {% set html -%}
        This is a new service – your
        <a class="govuk-link" href="https://docs.google.com/forms/d/e/1FAIpQLSfq6W-tnvz1gt_TWg2ojhxcu1RmpnWCPtVN3IDDLonTsmcRLA/viewform" rel="noreferrer noopener" target="_blank">feedback<span class="govuk-visually-hidden"> (opens in new tab)</span></a>
        will help us to improve it.
    {%- endset %}
    {{ govukPhaseBanner({
        "tag": {
            "text": "Beta"
        },
        "html": html
    }) }}
{% endblock %}

{% block bodyEnd %}
    <script type="module" src="{{ url_for('static', filename='govuk-frontend/govuk-frontend.min.js') }}"></script>
    <script type="module">
        import { initAll } from "{{ url_for('static', filename='govuk-frontend/govuk-frontend.min.js') }}"
        initAll();
    </script>
{% endblock %}

{% block footer %}
    {{ ateFooter({
        "meta": {
            "items": [
                {
                    "text": "Privacy",
                    "href": url_for("legal.privacy")
                },
                {
                    "text": "Accessibility",
                    "href": url_for("legal.accessibility")
                },
                {
                    "text": "Cookies",
                    "href": url_for("legal.cookies")
                }
            ]
        },
        "rebrand": govukRebrand
    }) }}
{% endblock %}
