{% extends "govuk_frontend_jinja/template.html" %}
{% from "govuk_frontend_jinja/components/phase-banner/macro.html" import govukPhaseBanner -%}

{% block pageTitle %}Schemes - Active Travel England - GOV.UK{% endblock %}

{% block head %}
    <link href="{{ url_for('static', filename='govuk-frontend/govuk-frontend.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='application.min.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    {{ govukHeader({
        "serviceName": "Schemes",
        "homepageUrl": url_for("start.index")
    }) }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
        "tag": {
            "text": "Beta"
        },
        "html": "This is a new service – your "
            ~ '<a class="govuk-link" href="mailto:contact@activetravelengland.gov.uk">feedback</a> '
            ~ "will help us to improve it."
    }) }}
{% endblock %}

{% block bodyEnd %}
    <script src="{{ url_for('static', filename='govuk-frontend/govuk-frontend.min.js') }}"></script>
    <script>
        window.GOVUKFrontend.initAll()
    </script>
{% endblock %}
