{% extends "govuk_frontend_jinja/template.html" %}
{% from "govuk_frontend_jinja/components/phase-banner/macro.html" import govukPhaseBanner -%}

{% block pageTitle %}Update your capital schemes - Active Travel England - GOV.UK{% endblock %}

{% block head %}
    <link href="{{ url_for('static', filename='govuk-frontend/govuk-frontend.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='application.min.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    {{ govukHeader({
        "homepageUrl": url_for("start.index"),
        "useTudorCrown": true
    }) }}
{% endblock %}

{% block beforeContent %}
    {% set html -%}
        This is a new service – your
        <a class="govuk-link" href="https://docs.google.com/forms/d/e/1FAIpQLSfq6W-tnvz1gt_TWg2ojhxcu1RmpnWCPtVN3IDDLonTsmcRLA/viewform" rel="noreferrer noopener" target="_blank">feedback<span class="govuk-visually-hidden"> (opens in new tab)</span></a>
        will help us to improve it.
    {%- endset %}
    {{ govukPhaseBanner({
        "tag": {
            "text": "Beta"
        },
        "html": html
    }) }}
{% endblock %}

{% block bodyEnd %}
    <script type="module" src="{{ url_for('static', filename='govuk-frontend/govuk-frontend.min.js') }}"></script>
    <script type="module">
        import { initAll } from "{{ url_for('static', filename='govuk-frontend/govuk-frontend.min.js') }}"
        initAll();
    </script>
{% endblock %}

{% block footer %}
    {{ govukFooter({
        "meta": {
            "items": [
                {
                    "text": "Cookies",
                    "href": url_for("legal.cookies")
                }
            ]
        }
    }) }}
{% endblock %}
