{% extends "service_base.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/tabs/macro.html" import govukTabs %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        "href": url_for("schemes.index")
    }) }}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">{{ name }}</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include "scheme_overview.html" %}
            {% include "scheme_funding.html" %}
            {% include "scheme_milestones.html" %}
            {% include "scheme_outputs.html" %}
        </div>
    </div>
{% endblock %}
