{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}

<h2 class="govuk-heading-l">Outputs</h2>

{% if outputs.outputs %}
    {% set rows = [] %}
    {% for output in outputs.outputs %}
        {% do rows.append([
            {
                "text": output.type.name
            },
            {
                "text": output.measure.name
            },
            {
                "text": output.planned | remove_exponent if output.planned is not none() else "N/A"
            },
            {
                "text": output.actual | remove_exponent if output.actual is not none() else "N/A"
            },
            {
                "text": output.planned_not_yet_delivered | remove_exponent
            }
        ]) %}
    {% endfor %}
    {{ govukTable({
        "head": [
            {
                "text": "Infrastructure"
            },
            {
                "text": "Measurement"
            },
            {
                "text": "Planned"
            },
            {
                "text": "Actual"
            },
            {
                "text": "Planned outputs not yet delivered"
            }
        ],
        "rows": rows
    }) }}
{% else %}
    <p class="govuk-body">There are no outputs for this scheme.</p>
{% endif %}
