{% extends "service_base.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/tabs/macro.html" import govukTabs %}

{% block beforeContent %}
    {{ govukBackLink({
        "href": url_for("schemes.index")
    }) }}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">{{ name }}</h1>

    {% set overviewHtml %}
        {% include "scheme_overview.html" %}
    {% endset -%}

    {% set fundingHtml %}
        {% include "scheme_funding.html" %}
    {% endset -%}

    {% set milestonesHtml %}
        {% include "scheme_milestones.html" %}
    {% endset -%}

    {{ govukTabs({
        "items": [
            {
                "id": "overview",
                "label": "Overview",
                "panel": {
                    "html": overviewHtml
                }
            },
            {
                "id": "funding",
                "label": "Funding",
                "panel": {
                    "html": fundingHtml
                }
            },
            {
                "id": "milestones",
                "label": "Milestones",
                "panel": {
                    "html": milestonesHtml
                }
            }
        ]
    }) }}
{% endblock %}
