{% extends "service_base.html" %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}

{% block content %}
    <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ authority_name }}</span>
        Your schemes
    </h1>

    {% if schemes %}
        {% set rows = [] %}
        {% for scheme in schemes %}
            {% do rows.append([
                {
                    "html": '<a class="govuk-link" href="{}">{}</a>'.format(
                        url_for("schemes.get", scheme_id=scheme.id),
                        scheme.reference
                    )
                },
                {
                    "text": scheme.funding_programme.name | d("N/A", true)
                },
                {
                    "text": scheme.name
                }
            ]) %}
        {% endfor %}
        {{ govukTable({
            "head": [
                {
                    "text": "Reference"
                },
                {
                    "text": "Funding programme"
                },
                {
                    "text": "Name"
                }
            ],
            "rows": rows
        }) }}
    {% else %}
        <p class="govuk-body">There are no schemes for your authority to update.</p>
    {% endif %}

{% endblock %}
