{% extends "service_base.html" %}
{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}

{% block content %}

    {% if reporting_window_days_left %}
        {{ govukNotificationBanner({
            "text": "You have " ~ reporting_window_days_left ~ " day" ~ ('s' if reporting_window_days_left > 1) ~ " left to update your schemes"
        }) }}
    {% endif %}

    <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ authority_name }}</span>
        Your schemes
    </h1>

    {% if schemes %}
        {% set rows = [] %}
        {% for scheme in schemes %}
            {% set referenceHtml -%}
                <a class="govuk-link" href="{{ url_for("schemes.get", scheme_id=scheme.id) }}">{{ scheme.reference }}</a>
            {%- endset %}
            {% set nameHtml -%}
                <div class="scheme-name">
                    <span>{{ scheme.name }}</span>
                    {% if scheme.needs_review %}
                        {{ govukTag({
                            "classes": "scheme-name__tag govuk-tag--red",
                            "text": "Needs review"
                        }) }}
                    {% endif %}
                </div>
            {%- endset %}
            {% do rows.append([
                {
                    "html": referenceHtml
                },
                {
                    "text": scheme.funding_programme.name | d("", true)
                },
                {
                    "html": nameHtml
                },
                {
                    "classes": "app-white-space-nowrap",
                    "text": scheme.last_reviewed | date if scheme.last_reviewed
                }
            ]) %}
        {% endfor %}
        {{ govukTable({
            "head": [
                {
                    "text": "Reference"
                },
                {
                    "text": "Funding programme"
                },
                {
                    "text": "Name"
                },
                {
                    "text": "Last reviewed"
                }
            ],
            "rows": rows
        }) }}
    {% else %}
        <p class="govuk-body">There are no schemes for your authority to update.</p>
    {% endif %}

{% endblock %}
