{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}


{{ govukSummaryList({
    "card": {
        "title": {
            "text": "Funding"
        }
    },
    "rows": [
        {
            "key": {
                "text": "Funding allocation"
            },
            "value": {
                "text": funding.funding_allocation | pounds if funding.funding_allocation is not none() else "N/A"
            }
        },
        {
            "key": {
                "text": "Spend to date"
            },
            "value": {
                "text": funding.spend_to_date | pounds if funding.spend_to_date is not none() else "N/A"
            }
        },
        {
            "key": {
                "text": "Change control adjustment"
            },
            "value": {
                "text": funding.change_control_adjustment | pounds if funding.change_control_adjustment is not none() else "N/A"
            }
        },
        {
            "key": {
                "text": "Allocation still to spend"
            },
            "value": {
                "text": funding.allocation_still_to_spend | pounds
            }
        }
    ]
}) }}
