{% extends "service_base.html" %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}
{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}

{% block pageTitle -%}
    Your schemes - {{ super() }}
{%- endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {{ govukNotificationBanner({
                "text": messages | first,
                "type": "success"
            }) }}
        {% elif reporting_window_days_left is not none() %}
            {% set text -%}
                {%- if reporting_window_days_left > 1 -%}
                    You have {{ reporting_window_days_left }} days left to update your schemes
                {%- elif reporting_window_days_left == 1 -%}
                    You have 1 day left to update your schemes
                {%- elif reporting_window_days_left == 0 -%}
                    Your scheme updates are overdue
                {%- endif -%}
            {%- endset %}
            {{ govukNotificationBanner({
                "text": text
            }) }}
        {% endif %}
    {% endwith %}

    <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ authority_name }}</span>
        <span>Your schemes</span>
    </h1>

    {% if schemes %}
        {% set rows = [] %}
        {% for scheme in schemes %}
            {% set referenceHtml -%}
                <a class="govuk-link" href="{{ url_for("schemes.get", scheme_id=scheme.id) }}">{{ scheme.reference }}</a>
            {%- endset %}
            {% set nameHtml -%}
                <div class="scheme-name">
                    <span>{{ scheme.name }}</span>
                    {% if scheme.needs_review %}
                        {{ govukTag({
                            "classes": "scheme-name__tag govuk-tag--red",
                            "text": "Needs review"
                        }) }}
                    {% endif %}
                </div>
            {%- endset %}
            {% do rows.append([
                {
                    "html": referenceHtml
                },
                {
                    "text": scheme.funding_programme.name
                },
                {
                    "html": nameHtml
                },
                {
                    "classes": "app-white-space-nowrap",
                    "text": scheme.last_reviewed | date if scheme.last_reviewed
                }
            ]) %}
        {% endfor %}
        {{ govukTable({
            "head": [
                {
                    "text": "Reference"
                },
                {
                    "text": "Funding programme"
                },
                {
                    "text": "Name"
                },
                {
                    "text": "Last reviewed"
                }
            ],
            "rows": rows
        }) }}
    {% else %}
        <p class="govuk-body">There are no schemes for your authority to update.</p>
    {% endif %}

    {% set html -%}
        If any of your scheme details are incorrect then
        <a class="govuk-link" href="mailto:update-your-capital-schemes@activetravelengland.gov.uk">let us know</a>.
    {%- endset %}
    {{ govukDetails({
        "summaryText": "Report a problem with your schemes",
        "html": html
    }) }}

{% endblock %}
