{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}

{{ govukSummaryList({
    "card": {
        "title": {
            "text": "Overview"
        }
    },
    "rows": [
        {
            "key": {
                "text": "Reference"
            },
            "value": {
                "text": overview.reference
            }
        },
        {
            "key": {
                "text": "Scheme type"
            },
            "value": {
                "text": overview.type.name | d("N/A", true)
            }
        },
        {
            "key": {
                "text": "Funding programme"
            },
            "value": {
                "text": overview.funding_programme.name | d("N/A", true)
            }
        },
        {
            "key": {
                "text": "Current milestone"
            },
            "value": {
                "text": overview.current_milestone.name | d("N/A", true)
            }
        }
    ]
}) }}
