{% extends "base.html" %}
{% from "ate_service_header/macro.html" import ateServiceHeader -%}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='govuk-one-login-service-header/govuk-one-login-service-header.min.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    {{ ateServiceHeader({
        "serviceNavigationParams": {
            "rebrand": govukRebrand,
            "serviceName": "Update your capital schemes",
        },
        "homepageLink": "https://www.activetravelengland.gov.uk",
        "oneLoginLink": oneLoginLink,
        "rebrand": govukRebrand,
        "signOutLink": url_for("auth.logout")
    }) }}
{% endblock %}

{% block bodyEnd %}
    {{ super() }}
    <script src="{{ url_for('static', filename='govuk-one-login-service-header/govuk-one-login-service-header.min.js') }}"></script>
{% endblock %}
