{% extends "base.html" %}
{% from "govuk_one_login_service_header/macro.html" import govukOneLoginServiceHeader -%}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='govuk-one-login-service-header/govuk-one-login-service-header.min.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    {{ govukOneLoginServiceHeader({
        "serviceName": "Schemes",
        "homepageLink": url_for("start.index"),
        "oneLoginLink": oneLoginLink,
        "signOutLink": url_for("auth.logout")
    }) }}
{% endblock %}

{% block bodyEnd %}
    {{ super() }}
    <script src="{{ url_for('static', filename='govuk-one-login-service-header/govuk-one-login-service-header.min.js') }}"></script>
{% endblock %}
