.one-login-header__link {
  .ate-header__logotype,
  .ate-header__logotype--focus {
    height: 30px;
    top: -2px;
  }

  .ate-header__logotype--focus {
    display: none;
  }

  &:focus {
    .ate-header__logotype {
      display: none;
    }

    .ate-header__logotype--focus {
      display: inline-block;
    }
  }
}
