@use "pkg:govuk-frontend/base" as govuk-frontend;

.scheme-name {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.scheme-name__tag {
  margin-left: govuk-frontend.govuk-spacing(1);
  white-space: nowrap;
}
