@import "scheme-name";

// Remove last row divider for tables within summary cards

.govuk-summary-card {
  .govuk-table__body {
    .govuk-table__row:last-child {
      .govuk-table__header, .govuk-table__cell {
        border-bottom: none;
      }
    }
  }
}

.app-vertical-align-middle {
  vertical-align: middle;
}

.app-white-space-nowrap {
  white-space: nowrap;
}
