$govuk-assets-path: "/static/govuk-frontend/assets/";
$govuk-brand-colour: #006853;
// TODO: Remove once rebrand applied
$govuk-link-colour: #006853;
$govuk-font-family: arial, sans-serif;

@import "../../../node_modules/govuk-one-login-service-header/dist/styles/service-header";
