$govuk-assets-path: "/static/govuk-frontend/assets/";
$govuk-functional-colours: (
  // govuk-organisation-colour("department-for-transport")
  brand: #006853,
  // govuk-organisation-colour("department-for-transport"), variant tint-95
  template-background: #f2f7f6,
  // govuk-organisation-colour("department-for-transport"), variant tint-95
  surface-background: #f2f7f6,
  // govuk-organisation-colour("department-for-transport"), variant tint-50
  surface-border: #80b4a9
);
$govuk-font-family: arial, sans-serif;

@import "../../../node_modules/govuk-frontend/dist/govuk";

// Workaround: https://github.com/alphagov/govuk-frontend/issues/6217

.govuk-notification-banner {
  border-color: govuk-colour("blue");
  background-color: govuk-colour("blue");
}

.govuk-notification-banner--success {
  border-color: govuk-functional-colour("success");
  background-color: govuk-functional-colour("success");
}
