// ATE Frontend settings
@use "pkg:@active-travel-england/ate-frontend/settings";

// Configure GOV.UK Frontend for ATE branding
@use "pkg:govuk-frontend/base" with (
  $govuk-assets-path: "/static/govuk-frontend/assets/",
  $govuk-font-family: settings.$ate-font-family,
  $govuk-functional-colours: settings.$ate-functional-colours
);

// GOV.UK One Login service header styles with ATE branding
@use "service-header";
