{% extends "base.html" %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}

{% block pageTitle -%}
    Cookies - {{ super() }}
{%- endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Cookies</h1>

            <p class="govuk-body">
                Cookies are small files saved on your phone, tablet or computer when you visit a website.
            </p>

            <p class="govuk-body">
                We use cookies to make this site work.
            </p>

            <h2 class="govuk-heading-m">
                Essential cookies
            </h2>

            <p class="govuk-body">
                Essential cookies keep your information secure while you use this service. We do not need to ask
                permission to use them.
            </p>

            {{ govukTable({
                "head": [
                    {
                        "text": "Name"
                    },
                    {
                        "text": "Purpose"
                    },
                    {
                        "text": "Expires"
                    }
                ],
                "rows": [
                    [
                        {
                            "text": "session"
                        },
                        {
                            "text": "Used to keep you signed in"
                        },
                        {
                            "text": "1 hour"
                        }
                    ]
                ]
            }) }}
        </div>
    </div>
{% endblock %}
