{% extends "base.html" %}

{% block content %}
   <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Privacy notice</h1>
            <p class="govuk-body">
                Last updated: 12 June 2024
            </p>

            <h2 class="govuk-heading-m">Who we are</h2>
            <p class="govuk-body">
                Update your capital schemes is a service provided by Active Travel England (ATE), an executive agency of
                the Department for Transport (DfT).
            </p>
            <p class="govuk-body">
                Update your capital schemes allows local authorities to view and update active travel capital scheme
                data held by ATE.
            </p>
            <p class="govuk-body">
                ATE is the data controller for data held and processed in the service.
            </p>

            <h2 class="govuk-heading-m">What data we collect</h2>
            <p class="govuk-body">
                The personal data we collect from you includes:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>your email address</li>
            </ul>
            <p class="govuk-body">
                The legal basis for processing this data is &lsquo;public task&rsquo; &ndash; allowing you to access the
                service.
            </p>

            <h2 class="govuk-heading-m">Why we need your data</h2>
            <p class="govuk-body">
                We collect your data to ensure that only local authorities can access the service.
            </p>

            <h2 class="govuk-heading-m">What we do with your data</h2>
            <p class="govuk-body">
                The data we collect may be shared with other government departments, agencies and public bodies. It may
                also be shared with our technology suppliers, for example our hosting provider.
            </p>
            <p class="govuk-body">
                We will not:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>sell or rent your data to third parties</li>
                <li>share your data with third parties for marketing purposes</li>
            </ul>

            <h2 class="govuk-heading-m">How long we keep your data</h2>
            <p class="govuk-body">
                We&rsquo;ll keep your data for as long as you have an account with the service.
            </p>
            <p class="govuk-body">
                When you ask us to close your account, we will delete your data within 1 year.
            </p>

            <h2 class="govuk-heading-m">Where your data is processed and stored</h2>
            <p class="govuk-body">
                We design, build and run our systems to make sure that your data is as safe as possible at all stages,
                both while it&rsquo;s processed and when it&rsquo;s stored.
            </p>
            <p class="govuk-body">
                Your personal data is stored in the <a class="govuk-link" href="https://www.gov.uk/eu-eea">European Economic Area</a> (EEA).
            </p>

            <h2 class="govuk-heading-m">How we protect your data and keep it secure</h2>
            <p class="govuk-body">
                We are committed to doing all that we can to keep your data secure. We have set up systems and processes
                to prevent unauthorised access or disclosure of your data &ndash; for example, we protect your data
                using varying levels of encryption.
            </p>
            <p class="govuk-body">
                We also make sure that any third parties that we deal with keep all personal data they process on our
                behalf secure.
            </p>

            <h2 class="govuk-heading-m">What are your rights</h2>
            <p class="govuk-body">
                <a class="govuk-link" href="https://www.gov.uk/government/organisations/active-travel-england/about/personal-information-charter">ATE&rsquo;s personal information charter</a>
                has more information about your rights in relation to your personal data, how to complain and how to
                contact the Data Protection Officer.
            </p>

            <h2 class="govuk-heading-m">Contact us or make a complaint</h2>
            <p class="govuk-body">
                Contact ATE if you:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>have a question about anything in this privacy notice</li>
                <li>think that your personal data has been misused or mishandled</li>
            </ul>
            <p class="govuk-body">
                Active Travel England<br/>
                <a class="govuk-link" href="mailto:update-your-capital-schemes@activetravelengland.gov.uk">update-your-capital-schemes@activetravelengland.gov.uk</a><br/>
                Active Travel England<br/>
                West Offices<br/>
                Station Rise<br/>
                York<br/>
                YO1 6GA
            </p>
        </div>
    </div>
{% endblock %}
