{% extends "service_base.html" %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}

{% block content %}
    <h1 class="govuk-heading-l">{{ reference }} - {{ name }}</h1>

    {{ govukSummaryList({
        "rows": [
            {
                "key": {
                    "text": "Scheme Type"
                },
                "value": {
                    "text": type | d("N/A", true)
                }
            },
            {
                "key": {
                    "text": "Funding Programme"
                },
                "value": {
                    "text": funding_programme | d("N/A", true)
                }
            }

        ]
    }) }}
{% endblock %}
