{% extends "service_base.html" %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}

{% block content %}
    <h1 class="govuk-heading-l">{{ authority_name }}</h1>

    {% if schemes %}
        {% set rows = [] %}
        {% for scheme in schemes %}
            {% do rows.append([
                {
                    "html": '<a class="govuk-link" href="{}">{}</a>'.format(
                        url_for("schemes.get", scheme_id=scheme.id),
                        scheme.reference
                    )
                },
                {
                    "text": scheme.name
                }
            ]) %}
        {% endfor %}
        {{ govukTable({
            "head": [
                {
                    "text": "Reference"
                },
                {
                    "text": "Name"
                }
            ],
            "rows": rows
        }) }}
    {% else %}
        <p class="govuk-body">There are no schemes for your authority to update.</p>
    {% endif %}

{% endblock %}
