{% extends "service_base.html" %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/tabs/macro.html" import govukTabs %}

{% block content %}
    <h1 class="govuk-heading-l">{{ reference }} - {{ name }}</h1>

    {% set overviewHtml %}
        {% include "scheme_overview.html" %}
    {% endset -%}

    {% set fundingHtml %}
        {% include "scheme_funding.html" %}
    {% endset -%}

    {{ govukTabs({
        "items": [
            {
                "id": "overview",
                "label": "Overview",
                "panel": {
                    "html": overviewHtml
                }
            },
            {
                "id": "funding",
                "label": "Funding",
                "panel": {
                    "html": fundingHtml
                }
            }
        ]
    }) }}
{% endblock %}
